@import url('bodycss.css');

.main-dashboard .left .sidebar .req2 {
  background-color: var(--sidebar-color);
}

.container {
  width: fit-content;
  margin: 0 auto;
}

.table-cont {
  border-collapse: collapse;
  background-color: var(--sec-row-color);
  width: 1200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}
th:first-child {
  width: 100px;
}
th {
  height: 40px;
  background-color: var(--header-color);
  color: #ffffff;
}
td {
  text-wrap: wrap;
  height: 90px;
}
tr {
  text-align: center;
}

tr:nth-of-type(even) {
  background-color: var(--first-row-color);
}

td:nth-child(3) {
  max-width: 200px;
}

.approved {
  margin: auto;
  width: 80px;
  background-color: var(--approve-color);
  padding: 6px 4px;
  border-radius: 2px;
  font-size: 14px;
  color: #ffffff;
}